{% extends layout %}
{% block title %}Impressum{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Kontakt</h1>
        <address>
            Johannes Künsebeck<br/>
            Paulusstrasse 17<br/>
            33602 Bielefeld<br/>
            <hr/>
            <a href="https://twitter.com/hnesk">@hnesk</a><br/>
            <a href="mailto:kuensebeck@googlemail.com">kuensebeck@googlemail.com</a><br/>
        </address>
    </div>



{% endblock %}
