{% extends layout %}
{% block title %}Info | Kontakt{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Kontakt</h1>
        <address>
            Johannes Künsebeck<br/>
            <hr/>
            <a href="https://twitter.com/hnesk">@hnesk</a><br/>
            <a href="https://github.com/hnesk">github</a><br/>
            <a href="mailto:kuensebeck@googlemail.com">kuensebeck@googlemail.com</a><br/>
        </address>
    </div>

{% endblock %}
